.library {
	position: fixed;
	top: 0;
	left: 0;
	width: 33%;
	height: 100%;
	box-shadow: 2px 2px 50px rgb(204, 204, 204);
	overflow: scroll;
	background: white;
	h2 {
		padding: 1rem;
		height: 10vh;
		border-bottom: 1px solid rgba(204, 204, 204, 0.2);
	}
	transform: translateX(-100%);
	transition: all 0.5s ease;
	opacity: 0;
}

.library-active {
	transform: translateX(0%);
	opacity: 1;
}

.library-song {
	transition: background-color 0.5s ease;
	img {
		width: 30%;
	}
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	cursor: pointer;
	&:hover {
		background-color: rgb(222, 222, 255);
		span.library-song-icon {
			opacity: 1;
		}
	}
	.song-description {
		padding-left: 1rem;
		h3 {
			font-size: 1rem;
			i {
				opacity: 0;
				transition: all 0.5s ease;
				font-size: 1rem;
				padding-left: 5px;
			}
			&.favorite {
				i {
					opacity: 1;
				}
			}
		}
		h4 {
			font-size: 0.7rem;
		}
	}
	span {
		color: #646464;
		padding-left: 1rem;
		opacity: 0;
		transition: all 0.4s ease;
		margin-left: auto;
		font-size: 1.8rem;
		&:hover {
			transform: scale(1.1);
		}
	}
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}



@media screen and (max-width: 768px) {
	.library {
		width: 100%;
	}
} 