nav {
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 1px 20px 0 rgba(32,33,36,0.28);
	button {
		background: transparent;
		border: 2px solid rgb(65, 65, 65);
		cursor: pointer;
		transition: all 0.3s ease;
		padding: 0.5rem;
		&:hover {
			color: white;
			background: rgb(65, 65, 65);
			cursor: pointer;
		}
	}
	a {
		outline: none;
		text-decoration: none;
		color: rgb(51, 51, 51);
		&:visited {
			color: rgb(51, 51, 51);
		}
	}
}


@media screen and (max-width: 768px) {
	nav {
		button {
			z-index: 10;
		}
	}
} 