.song-container {
	height: 60vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	img {
		width: 20%;
		border-radius: 50%;
	}
	h2 {
		padding: 3rem 1rem 1rem 1rem;
	}
	h3 {
		font-size: 1rem;
	}
	span {
		font-size: 1.3rem;
		opacity: 0.5;
		margin-top: 1.2rem;
		margin-bottom: 1rem;
		transition: all 0.5s ease;
		color: rgb(100, 100, 100);
		cursor: pointer;
	}
	&.favorite {
		span {
			opacity: 1;
			transform: scale(1.2);
		}
	}
}

@media screen and (max-width: 768px) {
	.song-container {
		img {
			width: 60%;
		}
	}
} 